# kdiff3 ignore
*.orig



# maven ignore
.mvn/
target/



# eclipse ignore
.settings/
.project
.classpath



# idea ignore
.idea/
*.ipr
*.iml
*.iws

# vscode ignore
.vscode/



# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp



# system ignore
.DS_Store
Thumbs.db



# package ignore (optional)
*.war
*.zip
*.tar
*.tar.gz



urls-random-generator